body{
  /* background-color: #2c2b2b; */
  display:flex;
  background-color:black;
}

::-webkit-scrollbar{
  display: none;
  height: 700px;
  width:5px;
  background-color:transparent;
}
::-webkit-scrollbar-thumb{
  background-color:rgb(233, 15, 15);
  /* height: 10px; */
}

*{
  margin: 0;
  padding: 0;
}
nav{
height:80vh;
width:15vw;
background-color: black;
display:flex;
position: relative;
z-index: 2;
flex-direction: column;
cursor:not-allowed;

}
.nav-ul{
 display: flex;
 flex-direction:column;
 align-items:flex-start;
 list-style-type: none;
 color: white;
 margin-left:30px;
 height:70%;
 padding-top:70px;
}
.nav-ul li{
padding-top:20px;
font-size:23px;
opacity:0.7;
/*border:1px solid white;*/
width:170px;
padding-bottom: 10px;
cursor:pointer;

}
.nav-ul li a{
margin-left:20px;
text-decoration:none;
color:white;
font-family: 'Roboto Slab', serif;
font-size: 17px;
}

.logo{
color:white;
display:flex;
font-size:25px;
justify-content:space-evenly;
align-items:center;
margin-top:30px;
width:230px;
}
nav ul li{
  padding: 0 12px;
}

.nav-ul li:hover{
opacity:1;
}
.body{
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:flex-start;
height:100vh;
width: 100vw;
}
.contents{
display:flex;
height:100vh;

}
.home,.search,.liked{
display:flex;
flex-direction: column;
justify-content:space-between;
align-items:center;
width:85vw;
height:100%;
background-color: #121212;
}
.home{
/*display:none;*/
flex-direction: row;
flex-wrap: wrap;
justify-content:space-evenly;
height:calc(100vh - 100px);
overflow: auto;
position: relative;
background-color: #090907;
}
.album-card{
  border-radius: 5px;
  margin: 1em;
  padding:1em;
  width:170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(44,43,44,.3);
  transition: .2s;
}
.album-cover-with-icon{
  width:100%;
  position: relative;
  margin-bottom: .5em;
  overflow-y: hidden;
}
.play-album{
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom:-3%;
  right:5%;
  width:40px;
  height:40px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: .3s;
  color:white;
}
.album-card:hover{
  background-color: rgba(44,43,44);
}
.album-card:hover .play-album{
  display:flex;
  bottom:5%;
  background-color: #1DD760;
}
.stayAtTop{
display:flex;
bottom:5%;
background-color: #1DD760;
}
.colorBlack{
color:black;
}
.album-card:hover .play-album > i{
  color:black;
}
.fa-play{
  color: transparent;
}
.album-cover{
  height:150px;
  width: 100%;
}
.album-cover > img{
  border-radius: 2.5px;
  width:100%;
  object-fit: cover;
  height:100%;
}
.album-deatils{
  width:100%;
  margin-bottom: .8em;
}
.album-deatils > h3,.album-deatils > p{
  width:100%;
  line-height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin:auto;
}
.display{
display:flex;
}
.search{
display:none;
}
.srcbox{
display:flex;
justify-content:flex-start;
align-items:center;
padding-bottom:50px;
padding-left:40px;
padding-top:90px;
font-size:20px;
width:85%;
/*border:1px solid white;*/
}
.srcin{
display:flex;
height:20px;
width:600px;
padding:10px;
background-color:white;
color:black;
border-radius:20px;
}
#srcsng{
border:none;
outline:none;
margin-left:10px;
}
.srcbody,.likebody{
flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
  /* border: 1px solid white; */
  height: 60vh;
  width: 100%;
  align-items: flex-start;
  overflow-y: auto;
}
.lang{
display:flex;
flex-direction:column;
height:100%;
width:85vw;
background-color: #121212;
display: none;
}
input[name="range"]{
accent-color:#1DB954;
}

.container{
  min-height: 72vh;
  color: white;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
 /*display:none;*/
}
.headerimg{
height:40%;
width:100%;
display:flex;
align-items:flex-end;
justify-content: flex-start; 
/*border:1px solid white;*/
}

.headerimg h1{
color:white;
font-size:70px;
letter-spacing: 2px;
margin-left:20px;
}
.lang{
display:none;
}
.langbody{
display:flex;
justify-content: space-center;
align-items:center;
height:40%;
width:100%;

}
.langpar{
display:flex;
justify-content: space-evenly;
align-items:center;
padding:50px;
height:100%;
width:100%;
/*border:1px solid white;*/
margin-top:200px;
}
.lang-card{
height:400px;
width:300px;
border-radius:10px;
/*border:1px solid white;*/
display:flex;
flex-direction: column;
justify-content:space-evenly;
align-items:center;
color:white;
background-color:rgb(30,30,30);
}
.lang-card:hover{
 background-color:rgb(40,40,40);
}
.lang-card img{
height:140px;
width:150px;
/*border:1px solid white;*/
}

.lang-card h2{
/*margin-left:10px;
margin-bottom:10px;*/
font-size: 30px;
}
.playbtn{
border-radius:50%;
background-color:#1DB954;
height:50px;
width:50px;
color:white;
margin-left:180px;
opacity:1;
display:flex;
justify-content: center;
align-items:center;
}
.playbtn .fa-solid{
color:black;
font-size:22px;
}
.topcover{
height:40%;
width:100%;
/* border:1px solid white; */
display:flex;
justify-content:flex-start;
align-items: flex-end;
color:white;
}

.top-cover .fa-solid{
color:white;
height:50px;
width:50px;
}
.liked{
display:none;
}

.bottom{
  position: sticky;
  height: 100px;
  background-color: #2c2b2b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  width:100%;
  z-index: 7;
  /*border:1px solid #2c2b2b;*/
  /* From https://css.glass */
  background: rgba(18, 18, 18, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px); */
  border: 1px solid rgba(18, 18, 18, 0.13);
}
.icons{
  margin-top: 14px; 
  width:180px;
  /* margin-left: ; */
  display:flex;
  justify-content:space-evenly;
}
.icons i{
  cursor: pointer;
}
.icons .fa-solid{
font-size: 33px;
}
.like .fa-heart{
font-size:22px;
margin-top:5px;
}
#pause{
display:none;
}
#previous,#next{
font-size:22px;
opacity:0.6;
margin-top:5px;
}

.contents{
  position: relative;
  z-index: 1;
}


.timestamp{
  margin: 0 23px;
}

.timestamp i{
  cursor: pointer;
}
.song{
  width: 50vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.songInfo{
  position: absolute;
  left:5px;
  top: 10px;
  display: flex;
}
.songInfo > span{
margin-left:2em;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-evenly;
}
.songInfo > img{
  margin-right:.5em;
  width:70px;
  border-radius: 2px;
}
.song{
  margin-left: 15%;
}
.home_header{
  height:230px;
  width:85vw;
  border:2px solid black;
  color:white;
  font-size: 120px;
  padding-left: 50px;
  padding-top: 100px;
  font-weight: bolder;
  position:sticky;
  top:0;
  left:0;
  /* background-color: transparent; */
  z-index:1;
  }
  .logo img{
    margin-right: -10px;
    
  }
  .album-card{
    color: white;
  }
  .topcover{
    height:30%;
    width:100%;
    /*border:1px solid white;*/
    display:flex;
    justify-content:flex-start;
    align-items: flex-end;
    color:white;
    background: radial-gradient(circle at right, #8f3dd1 , #2db98a);
  }
  .line{
    display:flex;
    height:80%;
    width:70%;
    /*border:1px solid white;*/
    justify-content:flex-start;
    align-items:center;
    padding-left:30px;
    padding-bottom:30px;
    padding-top:30px;
  }
  .line img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .line h1{
    margin-left:30px;
    font-size:80px;
  }
  .top-cover .fa-solid{
    color:white;
    height:50px;
    width:50px;
  }
  .liked{
    display:none;
  } 
  #progressBar{
    cursor: pointer;
    width: 45vw;
    background-color: white;
    border-radius: 10px;
    height:7px;
}

  @media screen and (max-width:300px) {
   .logo{
    display: none;
   }
   body{
    display:flex;
    flex-direction: column-reverse;
   }
   .nav-ul{
    flex-direction:row;
   }
   .nav-ul a{
    display: none;
   }
   .nav-ul i{
    font-size: 20px;
    margin:5px;
   }
   .srcbox{
    width:100px;
   }
   .icons .fa-solid{
    font-size: 22px;
    margin: 0;
    }
    .home_header{
    font-size:30px;
      height: 50px;
    }
    .like .fa-heart{
    font-size:15px;
    margin-top:2px;
    }
    .bottom{
      height: 70px;
      width: 100%;
      bottom: 2%;
      border-radius: 0%;
      background-color:rgb(159,32,32);
    }
    .songInfo #masterArtistName{
      display: none;
    }
    body{
      height:100vh;
    }
    .nav-ul
    .album-card{
      width: 200px;
      height: 100px;
    }
    .songInfo #masterSongName{
     display: none;
    }
    .home_header{
      padding-top: 50px;
    }
    .home{
      width:100%;
      height: 780px;
    }
    }
  @media screen and (max-width:600px) {
    .logo{
      font-size: 20px;
     }
  }
  @media screen and (max-width:900px) {
    .logo{
      font-size:20px;
     }
  }

  